# Shared Secrets

JWT_SECRET=replace-me
SERVICE_SECRET=replace-me

# Auth Database

AUTH_DB_URL=
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=


#Profile Database

PROFILE_MONGO_URI=

#Cloudflare R2

R2_ACCESS_KEY_PROFILE=
R2_SECRET_KEY_PROFILE=
R2_ACCOUNT_ID_PROFILE=
R2_PROFILE_BASE_URL=
R2_ENDPOINT_PROFILE=



#Post Database

POST_MONGO_URI=

#Cloudflare R2

R2_POST_ACCOUNT_ID=
R2_POST_ACCESS_KEY=
R2_POST_SECRET_KEY=
R2_POSTS_PUBLIC_URL=


# Reel Database

REEL_MONGO_URI=

# Reel Cloudflare R2

R2_REEL_ACCOUNT_ID=
R2_REEL_ACCESS_KEY=
R2_REEL_SECRET_KEY=
R2_REEL_PUBLIC_URL=



# Likes Database

LIKES_MONGO_URI=


# Interaction Database

INTERACTION_MONGO_URI=


# Interest Database

INTEREST_MONGO_URI=


# Feed Database

FEED_MONGO_URI=


# Chat Database

CHAT_MONGO_URI=

# Chat Cloudflare R2

CHAT_R2_ENDPOINT=
CHAT_R2_ACCESS_KEY=
CHAT_R2_SECRET_KEY=
CHAT_R2_PUBLIC_URL=



